/* ------------------------------------------------------------------------------------
--  RESET
------------------------------------------------------------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
   width:100%;
   height:100%;
}
ol, ul {
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------------------------------------------------------
--  SWITCHER
------------------------------------------------------------------------------------ */
#switcher{
	position:fixed;
	top:0;
	right:0;
	width:22px;
}
#switcher a{
	display:inline-block;
	width:20px;
	height:20px;
	border:1px solid #fff;
}
#switcher a#yellow{
	background:#ecb364;
}
#switcher a#red{
	background:#E45635;
}
#switcher a#beige{
	background:#CAAC94;
}
#switcher a#xv{
	background:url(../images/xv.png);
}
#switcher a#white{
	background:url(../images/white.png);
}
#switcher a#whitediamond{
	background:url(../images/whitediamond.png);
}
/* ------------------------------------------------------------------------------------
--  FORMS STYLES
------------------------------------------------------------------------------------ */
#forma{
	float:left;
	width:640px;
	claer:both;
}
form{
	float:left;
	width:340px;
	margin-right:40px;
}
label, fieldset{
	float:left;
	width:100%;
}
label{
	margin-bottom:7px;
	font-size:0.9em;
	color:#3b3b3b;
	text-shadow:0 1px 1px #fff;
}
input, textarea{
	float:left;
	width:318px;
	border:1px solid #ddd;
	padding:10px;
	margin-bottom:14px;
	background:#f6f6f6;
}
input:hover, textarea:hover{
	background:#ececec;
	border:1px solid rgba(255,255,255,0.4);
	color:#555;
}
.ss-required-asterisk{
	margin-right:5px;
	color:#a80000;
}
.buttonsubmit{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-khtml-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;	
	cursor:pointer;
	padding:5px 10px;
    letter-spacing:0.1em;
    background: -moz-linear-gradient(19% 75% 90deg, #019574, #029e7b);
    background: -webkit-gradient(linear, left top, left bottom, from(#029e7b), to(#019574));
    background-image: -o-linear-gradient(top,rgb(2,158,123),rgb(1,149,116));
	border:1px solid #bdeee3;
	font-size:1.2em;
	color:#fafafa;
	font-family:'Abel', sans-serif;
	text-transform:uppercase;
	display:inline-block;
	-moz-box-shadow:0 1px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2);
	-o-box-shadow:0 1px 0 rgba(0,0,0,0.2);
	-khtml-box-shadow:0 1px 0 rgba(0,0,0,0.2);
    -ms-box-shadow:0 1px 0 rgba(0,0,0,0.2);
	box-shadow:0 1px 0 rgba(0,0,0,0.2);
}
.buttonsubmit:hover{
    background: -moz-linear-gradient(19% 75% 90deg, #019574, #04ad87);
    background: -webkit-gradient(linear, left top, left bottom, from(#04ad87), to(#019574));
    background-image: -o-linear-gradient(top,rgb(4,173,135),rgb(1,149,116));
	border:1px solid #bdeee3;
}
#forma aside{
	float:right;
	width:260px;
}
#forma aside article{
	margin:0;
	font-size:0.9em;
}
/* ------------------------------------------------------------------------------------
--  GENERAL
------------------------------------------------------------------------------------ */
html, body { 
	width:100%;
    font-family:'Varela', Helvetica, Arial, FreeSans, sans-serif;
    font-size:100%;
	margin:0;
	padding:0;
	background: #000 url(../images/bg.jpg) top left fixed;
	background-repeat:no-repeat;
}
::selection{
	background:#d4dedc;
}
::-moz-selection{
	background:#d4dedc;
}
#wrapper{
	float:left;
	width:100%;
}
#shadow{
	float:left;
	width:1008px;
	margin-bottom:80px;
	background:url(../images/shadow.png) top left;
	background-repeat:repeat-y;
	position:relative;
}
#social{
	position:fixed;
	bottom:74px;
	left:52px;
}
#social a{
	text-indent:-99999px;
	display:block;
	width:52px;
	height:52px;
	margin-bottom:5px;
}
#social a.twitter{
	background:url(../images/twitter.png);
	background-repeat:no-repeat;
}
#social a.yahoo{
	background:url(../images/yahoo.png);
	background-repeat:no-repeat;
} 
#social a.facebook{
	background:url(../images/facebook.png);
	background-repeat:no-repeat;
}
#social a.lastfm{
	background:url(../images/lastfm.png);
	background-repeat:no-repeat;
} 
#inner-wrapper{
	float:left;
	width:800px;
	margin:0 104px;
	background:url(../images/cross.png);
	background-repeat:repeat;
	-moz-box-shadow:0 20px 40px rgba(0,0,0,0.7);
	-webkit-box-shadow:0 20px 40px rgba(0,0,0,0.7);
	-o-box-shadow:0 20px 40px rgba(0,0,0,0.7);
	-khtml-box-shadow:0 20px 40px rgba(0,0,0,0.7);
	-ms-box-shadow:0 20px 40px rgba(0,0,0,0.7);
	box-shadow:0 20px 40px rgba(0,0,0,0.7);
}
/*-----GRADIENT ELEMENTS-----*/
.digit2, .digit, .date-wrap{
	-moz-box-shadow:0 1px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.3);
	-o-box-shadow:0 1px 0 rgba(0,0,0,0.3);
	-khtml-box-shadow:0 1px 0 rgba(0,0,0,0.3);
    -ms-box-shadow:0 1px 0 rgba(0,0,0,0.3);
	box-shadow:0 1px 0 rgba(0,0,0,0.3);
    background: -moz-linear-gradient(19% 75% 90deg, #2d2d2d, #4a4a4a);
    background: -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#2d2d2d));
    background-image: -o-linear-gradient(top,rgb(74,74,74),rgb(45,45,45));
	border:1px solid rgba(255,255,255,0.8);
	color:#eceaea;
	text-shadow:none;
	font-family:'Abel', sans-serif;
	text-transform:uppercase;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-khtml-border-radius:4px;
	-ms-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.digit, .link{
	padding:4px 6px;
}
.digit2{
	padding:4px 0;
	width:90px;
}
/* ------------------------------------------------------------------------------------
--  TYPOGRAPHY
------------------------------------------------------------------------------------ */
h2, h3{
	font-family:'Abel', sans-serif;
	color:#3b3b3b;
	text-shadow:0 1px 1px #fff;
	text-transform:uppercase;
}
h2{
	font-size:2em;
	text-align:center;
	padding:0 0 20px 0;
	border-bottom:1px solid #ccc;
	display:block;
}
h3{
	font-size:1.6em;
	margin-bottom:10px;
}
p{
	line-height:1.5em;
	margin-bottom:20px;
}
p.last{
	margin-bottom:0;
}
.tiny{
	font-size:0.8em;
	text-transform:lowercase;
}
/* ------------------------------------------------------------------------------------
--  ANCHORS
------------------------------------------------------------------------------------ */
a{
	text-decoration:none;
	outline:none;
    color:#05624d;
}
a:hover{
	color:#666;
}
a.ext-link:after {
    padding:0 5px;
    margin: 10px 0 0 5px;
    content: "";
    background: url(../images/external.png);
	background-repeat: no-repeat;
	display:inline;
	width:10px;
	height:10px;
}

/*-----ROUNDED BUTTON----*/
.button-more{
	float:left;
}
.circle-outer{
	float:right;
	background:#fff;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	-o-border-radius:14px;
	-khtml-border-radius:14px;
	-ms-border-radius:14px;
	border-radius:14px;
	height:28px;
	width:28px;
	-moz-box-shadow: 0 2px 2px #ddd;
	-webkit-box-shadow: 0 2px 2px #ddd;
	-o-box-shadow: 0 2px 2px #ddd;
	-khtml-box-shadow: 0 2px 2px #ddd;
	-ms-box-shadow: 0 2px 2px #ddd;
	box-shadow: 0 2px 2px #ddd;
}
a.circle{
	float:right;
	text-decoration:none;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	-o-border-radius:9px;
	-khtml-border-radius:9px;
	-ms-border-radius:9px;
	border-radius:9px;
	height:18px;
	width:18px;
	vertical-align:middle;
	text-align:center;
	color:#fafafa;
	font-size:18px;
	line-height:18px;
	margin:5px;
}
.margin{
	margin-left:6px;	
}
a.readmore{
	margin-top:6px;
	float:right;
    text-shadow:1px 1px 0 rgba(255, 255, 255, 0.7);
    color:#949493;
	font-size:0.9em;
}
a.readmore:hover{
	color:#666;
}
/* ------------------------------------------------------------------------------------
-- SHADOW
------------------------------------------------------------------------------------ */
#top, #pass, ul#footer-inside li, .testimonials-inside{
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.5);
	-o-box-shadow:0 5px 10px rgba(0,0,0,0.5);
	-khtml-box-shadow:0 5px 10px rgba(0,0,0,0.5);
	-ms-box-shadow:0 5px 10px rgba(0,0,0,0.5);
	box-shadow:0 5px 10px rgba(0,0,0,0.5);
}
/* ------------------------------------------------------------------------------------
--  TOP
------------------------------------------------------------------------------------ */
#top{
	float:left;
	background:#191919 url(../images/top-bg.png);
	background-repeat:repeat;
	width:800px;
	position:relative;
	margin: 0 0 40px 0;
}
#langs{
	position:absolute;
	top:0;
	right:0;
}
#langs a{
	font-size:0.8em;
	display:inline-block;
	background:#000;
	border:1px solid rgba(255,255,255,0.2);
	padding:5px;
	margin-left:5px;
}
#langs a:hover{
	color:#eaeaea;
}
#logo{
	float:left;
	width:100%;
}
#logo a{
	display:block;
	width:240px;
	height:48px;
	background:url(../images/logo.png);
	margin:40px 280px 10px 280px;
}
#logo p{
	font-family:'Abel', sans-serif;
	color:#ccc;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:0.2em;
	font-size:0.9em;
}
/* ------------------------------------------------------------------------------------
--  NAVIGATION
------------------------------------------------------------------------------------ */
#nav-wrap{
	clear:both;
	width:100%;
	float:left;
	margin:40px 0 20px 0;
}
nav#primary{
	float:left;
    width:800px;
	background:#040404;
	border-top:1px solid rgba(236,179,100,0.15);
	border-bottom:1px solid rgba(236,179,100,0.15);
}
nav#primary ul.main-menu{
	float:left;
	list-style:none;
	margin:10px 40px;
	position:relative;
}
nav#primary ul.main-menu li.first, nav ul.main-menu li.next{
	float:right;
	width:110px;
}
nav#primary ul.main-menu li.next{
	padding:0 20px;
	border-right:1px solid rgba(236,179,100,0.18);	
}
nav#primary ul.main-menu a{
	font-size:0.85em;
	letter-spacing:0.1em;
	color:rgba(236,179,100,0.8);	
	text-transform:uppercase;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-khtml-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
nav#primary ul.main-menu a:hover{
	padding-left:8px;
	color:#ddd;
}
/*-----SUBMENU-----*/
.child-menu {
	position: absolute;
	display: none;
	list-style: none;
	padding:10px 0;
	background: rgba(0,0,0,0.8);
	top:0;
	width:200px;
	z-index:1;
	margin:40px -20px 0 0;
}
.child-menu li {
	float: none;
}
nav#primary ul.child-menu a{
	padding: 6px 20px;
	display:block;
	text-decoration:none;
	color:#bcbcbc;
	font-size:0.75em;
	text-transform:uppercase;
}
/* ------------------------------------------------------------------------------------
--  FOOTER
------------------------------------------------------------------------------------ */
footer{
	float:left;
	background:url(../images/darkwood.png);
	background-repeat:repeat;
	width:100%;
	border-top:1px solid rgba(236,179,100,0.1);
	border-bottom:1px solid rgba(236,179,100,0.1);
}
#pass{
	float:left;
	width:100%;
	height:20px;
	background:url(../images/darkwood.png);
	background-repeat:repeat-x;
}
ul#footer-inside{
	float:left;
	list-style:none;
	color:#7f7f7f;
	margin:40px;
	width:720px;
}
#footer-inside h3{
	text-shadow:none;
}
.white-line-footer{
	float:left;
	width:206px;
	height:1px;
	background:rgba(236,179,100,0.1);
	margin-bottom:20px;
}
ul#footer-inside li{
	float:left;
	margin-right:20px;
	width:206px;
	padding:20px 10px;
	background:url(../images/top-bg.png);
	background-repeat:repeat;
}
ul#footer-inside li.last{
	margin-right:0;
}
ul#footer-inside p{
	margin-bottom:0;
	line-height:1.5em;
	color:#7f7f7f;
	font-family:'Abel', sans-serif;
	letter-spacing:0.1em;
	font-size:0.9em;
	text-transform:uppercase;
}
#lastline{
	float:left;
	width:100%;
	border-bottom:1px solid rgba(236,179,100,0.1);
	position:relative;	
}
#lastline small{
	margin:20px 40px;
	color:#7f7f7f;
	font-size:0.8em;
	float:left;
}
#totop{
	margin:0;
	position:absolute;
	top:-25px;
	right:40px;
}
#totop a{
	width:50px;
	height:50px;
	display:block;
	background:url(../images/rtl-top.png);
	background-repeat:no-repeat;
}
/* ------------------------------------------------------------------------------------
--  GENERAL DIVS, SECTIONS, ARTICLES
------------------------------------------------------------------------------------ */
.boxgrid{
	float:left;
	background:transparent;
	overflow: hidden;
	position: relative;
	width:130px;
	height:130px;
}
.frontpage{
	width:130px;
	height:130px;
}
.innerpage{
	width:125px;
	height:125px;
}
.boxgrid figure, .boxgrid img{
	float:left;
}
.boxgrid img.cover{
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	cursor:pointer;
}
.boxgrid h4{
	letter-spacing:0.1em;
	padding-bottom:7px;
	font-family:'Abel', sans-serif;
	text-transform:uppercase;
}
.boxgrid p{
	font-size:0.8em;
}
/* ------------------------------------------------------------------------------------
--  INDEX (HOME PAGE)
------------------------------------------------------------------------------------ */
/*-----PICTURE BLOCK-----*/
.block{
	float:left;
	margin:0 40px 40px 40px;
	position:relative;
}
.content-wrap{
	float:right;
	width:740px;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	
	border-top:1px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	margin:0 0 40px 0;
}
.heading{
	float:left;
	width:660px;
	margin:30px 40px 0 40px;
}
.white-line{
	float:left;
	height:2px;
	background:rgba(255,255,255,0.8);
	width:660px;
	margin:0 0 40px 0;
	position:relative;
}
.divider{
	background:url(../images/divider.png);
	background-repeat:no-repeat;
	width:30px;
	height:30px;
	position:absolute;
	top:0;
	left:315px;
	margin-top:-15px;
}
section.content-block{
	float:left;
	clear:both;
	margin:0 40px 40px 40px;
	width:660px;
}
.left{
	float:right;
	width:180px;
	margin-left:40px;
}
.right{
	float:left;
	width:440px;
}
.right article{
	float:left;
}
.right p{
	font-size:0.95em;
	color:#3b3b3b;
	text-shadow:0 1px 1px #fff;
	text-transform:lowercase;
}
.preface{
	float:left;
	background:#191919 url(../images/top-bg.png);
	background-repeat:repeat;
	width:800px;
	border-top:1px solid rgba(236,179,100,0.1);
	border-bottom:1px solid rgba(236,179,100,0.1);
	margin-bottom:40px;
}
/*-----INFO BLOCK-----*/
ul.info{
	float:left;
	list-style:none;
	color:#7f7f7f;
	margin:40px;
	width:720px;
	font-size:0.95em;
}
ul.info li{
	float:left;
	margin-right:20px;
	width:226px;
	overflow:hidden;
}
ul.info li.last{
	margin-right:0;
}
ul.info img{
	vertical-align:middle;
	margin-left:10px;
	float:right;
}
ul.info p, ul.info a{
	font-family:'Abel', sans-serif;
	letter-spacing:0.1em;
	line-height:1.4em;
	font-size:0.9em;
	text-transform:uppercase;
	margin-bottom:0;
	overflow:hidden;
}
ul.info a:hover{
	color:#eaeaea;
}
/* ------------------------------------------------------------------------------------
--  INDEX (HOME PAGE)
------------------------------------------------------------------------------------ */
/*-----PICTURE BLOCK-----*/
figure#topnpic{
	float:left;
	width:720px;
}
img#mainpic{
	cursor:move;
	float:left;
}
#exp{
	position:absolute;
	height:60px;
	width:720px;
	left:0;
	bottom:0;
	background:rgba(0,0,0,0.6);
}
#drag{
	position:absolute;
	top:23px;
	right:246px;
	width:14px;
	height:14px;
}
#exp p{
	text-align:center;
	line-height:60px;
	position:relative;
	letter-spacing:0.1em;
}
#exp img{
	vertical-align:middle;
	margin-right:5px;
}
/*-----WELCOME BLOCK-----*/
.quote{
	float:left;
	margin:20px 40px;
	width:720px;
	color:#7f7f7f;
}
blockquote {
	width: 720px; /* required */
	float:left; 
}
blockquote p{
	font-size:1.3em;
	line-height:1.5em;
	font-family:"Abel", sans-serif;
}
/*-----SPECIALS BLOCK-----*/
#specials{
	float:left;
	position:relative;
	width:742px;
}
.panel {
    position: absolute;
    top: 0;
    left: 58px;
	z-index:1;
    display: none;
    background: rgba(0,0,0,0.85);
    width: 742px;
    height: auto;	
}
a.trigger{
    position: absolute;
    top: 0; 
    left: 58px;
	z-index:1;
    letter-spacing:0.1em;
	text-transform:uppercase;
	background:#222;
    padding: 10px 30px 10px 30px;
    display: block;
	font-family:'Abel', sans-serif;
    -moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
}
a.trigger:hover{
    position: absolute;
    top: 0; 
    left: 58px;
	z-index:1;
    letter-spacing:0.1em;
    color:#fafafa;
	background:#191919;
    display: block;
}
a.active.trigger {
    background:#222 url(../images/close.png) 5px 49.5% no-repeat;
}
.general{
	float:left;
	width:740px;
	margin:60px 0;
	border-top:1px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}
ul#specials-items{
	float:left;
	width:660px;
	margin:0 40px 16px 40px;
	list-style:none;
}
ul#specials-items li{
	float:left;
	width:150px;
	margin:0 20px 20px 0;
}
ul#specials-items li.last{
	margin-right:0;
}
ul#specials-items figure{
	float:left;
	padding:10px;
	background:#fafafa;
	width:130px;
}
ul#specials-items figure img{
	float:left;
}
.general article{
	float:left;
	width:660px;
	margin:0 40px 40px 40px;
}
.general article p{
	font-size:0.95em;
	color:#3b3b3b;
	text-shadow:0 1px 1px #fff;
}
/*-----MAIN CONTENT BLOCK-----*/
/*-----MOVING IMAGE-----*/
.left p{
	color:#999898;
	display:block;
	margin-top:10px;
	float:left;
	line-height:20px;
	width:180px;
}
.left p img{
	vertical-align:middle;
	float:right;
	margin-left:6px;
}
.left figure{
	float:left;
	width:160px;
	height:130px;
	padding:10px;
	border:1px solid #d5d5d5;
	background:#fafafa;
}
.left figure a{
	background-repeat:no-repeat;
	background-position: 0 0;
	width:160px;
	height:130px;
	display:inline-block;
}
.left figure a:hover{
	-webkit-animation: moveImg 9s linear infinite forwards;
	-moz-animation: moveImg 9s linear infinite forwards;
	-o-animation: moveImg 9s linear infinite forwards;
	-khtml-animation: moveImg 9s linear infinite forwards;
	-ms-animation: moveImg 9s linear infinite forwards;
	 animation: moveImg 9s linear infinite forwards;
	 z-index: 10;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-khtml-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);	
	-moz-box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.2), 0px 0px 2px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.2), 0px 0px 2px rgba(0,0,0,0.2) inset;
	-o-box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.2), 0px 0px 2px rgba(0,0,0,0.2) inset;
	-khtml-box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.2), 0px 0px 2px rgba(0,0,0,0.2) inset;
	-ms-box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.2), 0px 0px 2px rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.2), 0px 0px 2px rgba(0,0,0,0.2) inset;
}
@-webkit-keyframes moveImg {
    0%{ 
		background-position: 50% 0%;
	}
	50%{
		background-position: 50% 100%;
	}
	100%{
		background-position: 50% 0%;
	}
}
@-moz-keyframes moveImg {
    0%{ 
		background-position: 50% 0%;
	}
	50%{
		background-position: 50% 100%;
	}
	100%{
		background-position: 50% 0%;
	}
}
@keyframes moveImg {
    0%{ 
		background-position: 50% 0%;
	}
	50%{
		background-position: 50% 100%;
	}
	100%{
		background-position: 50% 0%;
	}
}
#image1 a{
	background:url(../images/item1.jpg);
}
#image2 a{
	background:url(../images/item2.jpg);
}
#image3 a{
	background:url(../images/item3.jpg);
}
/* ------------------------------------------------------------------------------------
--  INNER PAGES
------------------------------------------------------------------------------------ */
.content-page{
	float:left;
	width:720px;
	margin:0 40px 40px 40px;
}
.content-page .last{
	margin-bottom:0;
}
.content-page-wrap{
	float:left;
	margin:40px;
	background:transparent;
	width:640px;
}
.heading-page{
	float:left;
	width:100%;
}
.white-line-page{
	float:left;
	height:2px;
	background:rgba(255,255,255,0.8);
	width:100%;
	position:relative;
}
.divider-page{
	background:url(../images/divider.png);
	background-repeat:no-repeat;
	width:30px;
	height:30px;
	position:absolute;
	top:0;
	left:315px;
	margin-top:-15px;
}
.grey-line{
	float:left;
	height:1px;
	background:#ccc;
	width:100%;
}
.heading-page h2{
	width:100%;
}
.content-page article{
	color:#3b3b3b;
	text-shadow:0 1px 1px #fff;
	float:left;
	margin:40px 0 0 0;
}
/* ------------------------------------------------------------------------------------
--  MENUI PAGE
------------------------------------------------------------------------------------ */
ul#menu-items{
	float:left;
	width:640px;
	margin:40px 0 0 0;
	list-style:none;
}
ul#menu-items li{
	float:left;
	width:145px;
	margin:0 20px 20px 0;
}
ul#menu-items li.last{
	margin-right:0;
}
ul#menu-items li.bottom{
	margin-bottom:0;
}
ul#menu-items figure{
	float:left;
	padding:10px;
	background:#fafafa;
	width:125px;
}
ul#menu-items figure img{
	float:left;
}
/* ------------------------------------------------------------------------------------
--  MENUII PAGE
------------------------------------------------------------------------------------ */
ul.menu-items2{
	float:left;
	width:640px;
	margin:40px 0 0 0;
	list-style:none;
	color:#3b3b3b;
	text-shadow:0 1px 1px #fff;	
}
ul.menu-items2 li{
	margin:0 40px 0 0;
	float:left;
}
ul.menu-items2 li.last{
	margin-right:0;
}
li.column1{
	width:90px;
	text-align:center;
}
li.column2{
	width:270px;
}
li.column2 p{
    font-size:0.9em;
}
li.column3{
	width:200px;
}
ul.menu-items2 figure{
	float:left;
	width:180px;
	height:120px;
	padding:10px;
	border:1px solid #d5d5d5;
	background:#fafafa;
}
.column3 p{
	color:#999898;
	display:block;
	margin-top:10px;
	float:right;
	line-height:20px;
	width:180px;
}
.column3 p img{
	vertical-align:middle;
	float:right;
	margin-left:6px;
	cursor:pointer;
}
ul.menu-items2 figure img{
	float:left;
	cursor:pointer;
}
ul.items-spec{
	float:left;
	margin-right:16px;
}
ul.items-spec li{
	float:left;
	width:100%;
	list-style:square;
	color:#3b3b3b;
	font-style:italic;
	text-transform:capitalize;
	font-family:'Georgia', sans-serif;
	line-height:1.5em;
}
/* ------------------------------------------------------------------------------------
--  GALLERY PAGE
------------------------------------------------------------------------------------ */
ul.gallery-items{
	float:left;
	width:640px;
	list-style:none;
}
ul.gallery-items li{
	float:left;
	width:145px;
	margin:0 20px 20px 0;
}
ul.gallery-items li.last{
	margin-right:0;
}
ul.gallery-items li.bottom{
	margin-bottom:0;
}
ul.gallery-items figure{
	float:left;
	padding:10px;
	background:#fafafa;
	width:125px;
}
ul.gallery-items figure img{
	float:left;
}
img.zoom{
	margin:10px 0 0 52px;
	cursor:pointer;
}
/* ------------------------------------------------------------------------------------
--  SINGLE PAGE
------------------------------------------------------------------------------------ */
nav#secondary{
	float:right;
	width:100%;
	margin-bottom:30px;
}
nav#secondary ul{
	float:right;
	list-style:none;
}
nav#secondary li{
	float:right;
}
nav#secondary a{
	text-transform:capitalize;
	padding:0.5em 0.9em;
	margin: 0 0 0 0.5em;
	color:#3e3e3e;
	text-shadow:0 1px 1px #fff;
    background: rgba(201,201,201,0.3);/*#c9c9c9*/
	border:1px solid #eee;
	font-size:0.9em;
}
nav#secondary a:hover{
	color:#fafafa;
	text-shadow:none;
}
nav#secondary a.active-link{
	text-shadow:none;
}
#paginate-place, .paginate-content{
	float:left;
	width:100%;
}
.paginate-content figure{
	float:left;
	margin:10px 0 20px 0;
}
.paginate-content .digit{
	float:left;
}
/*-----PAGINATION (ALSO USED ON VIDEO PAGE)-----*/
#page_navigation{
	float:left;
	width:100%;
	margin:20px 20px 0 0;
}
#page_navigation a{
	padding:0.5em 0.9em;
	margin: 0 0.5em 0 0;
	color:#3e3e3e;
	text-shadow:0 1px 1px #fff;
	text-decoration:none;
    background: rgba(201,201,201,0.3);/*#c9c9c9*/
	border:1px solid #eee;
	font-size:0.8em;
	text-transform:uppercase;
}
#page_navigation a:hover{
	color:#fafafa;
}
.active_page{
	background:url(../images/top-bg.png)!important;
	border:1px solid #fff;
	color:#fafafa!important;
}
/* ------------------------------------------------------------------------------------
--  EVENTS PAGE
------------------------------------------------------------------------------------ */
.tabbed-content{
	background:transparent;
	width: 640px;	
	margin-top:40px;
	float:right;
}
.tabs{
	height: 20px;
	position: relative;
}
.tabs .moving-bg{
    padding:0;
    background: transparent;
	position: absolute;
	width: 120px;
	left: 0;
}
.tabs .tab-item{
	display: block;
	float: right;
	padding: 10px 0;
	width: 140px;
	text-transform:uppercase;
	color:#7f7f7f;
	font-family:'Abel', sans-serif;
	font-size:1.2em;
	line-height:20px;
	position: relative;
	cursor: pointer;
}
.tab-item img{
	vertical-align:middle;
	float:right;
	margin-left:6px;
}
.tabbed-content .slide-content{
	overflow: hidden;
	position: relative;
	width: 640px;
}
.tabslider{
	width: 5000px;
}
.events{
	float:right;
	width: 640px;
	margin-top:20px;
}
.event-wrap{
	float:left;
	margin-bottom:20px;
	width:640px;
}
.events-left{
	float:right;
	width:510px;
	margin-left:20px;
}
.date-wrap{
	padding:0 10px;
	margin-top:4px;
}
p.date{
	font-weight:600;
	text-align:center;
	margin:10px 0 0 0;
	padding-bottom:4px;
	border-bottom:1px solid #5b5b5b;
	font-family:'Abel', sans-serif;
	text-transform:uppercase;
	color:#ddd;
}
p.hour{
	font-size:0.9em;
	text-align:center;
	margin:6px 0 6px 0;
}
.black-line-page{
	float:left;
	height:1px;
	background:#191919;
	width:100%;
}
.events-right{
	float:left;
	width:90px;
}
.events-left p{
	font-size:0.9em;
	color:#3e3e3e;
	text-shadow:0 1px 1px #fff;
	overflow:hidden;
}
.events-left figure{
	float:right;
	width:180px;
	height:120px;
	padding:10px;
	border:1px solid #d5d5d5;
	background:#fafafa;
	margin-left:20px;
}
.events-left figure img{
	float:right;
}
.readmore-events{
	float:right;
    color:#949493;
	cursor:pointer;
	margin-bottom:20px;
	margin-top:6px;
}
.readmore-events:hover{
	color:#666;
}
/* ------------------------------------------------------------------------------------
--  FAQS PAGE
------------------------------------------------------------------------------------ */
section.faqs{
	float:left;
	margin-top:40px;
}
h3.trigger{
	padding:0;
	margin: 0 0 10px 0;
	background: url(../images/rtl-trigger.png) no-repeat;
	height: 46px;
	line-height: 46px;
	width: 580px;
	float: right;
}
h3.active{
	background-position: left bottom;
} 
.toggle_container{
	overflow: hidden;
	width: 640px;
	margin-bottom:10px;
}
.toggle_container article{
	margin-top:0;
}
h3.trigger a {
    text-shadow:1px 1px 0 rgba(255, 255, 255, 0.7);
	text-transform:uppercase;
    color:#949493;
    outline: none;
	text-decoration: none;
	display: block;
	font-size:0.9em;
	margin-right:50px;
}
h3.trigger a:hover{ 
    color: #ccc; 
}
/* ------------------------------------------------------------------------------------
--  SERVICE PAGE
------------------------------------------------------------------------------------ */
.service-wrap{
	float:left;
	margin:20px 0 0 0;
	width:640px;
}
.service-left{
	float:right;
	width:66px;
	margin-left:34px;
}
.service-left img{
	float:right;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	cursor:pointer;
	margin-right:-6px;
}
.service-left img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -khtml-transform: scale(1.1);
    -ms-transform: scale(1.1); 
}
.service-right{
	float:left;
	width:540px;
}
.service-right p{
	font-size:0.9em;
	color:#3e3e3e;
	text-shadow:0 1px 1px #fff;
}
#testims{
	float:left;
	margin:0 40px 40px 40px;
}
#testims h3{
	color:#fafafa;
	text-shadow:none;
	margin-bottom:20px;
}
ul.testimonials{
	float:left;
	width:720px;
	list-style:none;
	color:#7f7f7f;
}
ul.testimonials li{
	margin-bottom:20px;
}
ul.testimonials li.last{
	margin:0;
}
.testimonials-inside{
	float:left;
	padding:20px;
	width:680px;
	background:#191919;
	clear:both;
}
.testimonials-inside img{
	float:right;
	margin-left:20px;
}
.testimonials-inside cite{
	font-size:0.9em;
	letter-spacing:0.1em;
	width:600px;
	float:left;
	line-height:1.5em;
}
p.author{
	float:left;
	font-style:italic;
	font-family:'Georgia', serif;
	margin-bottom:0;
}
.triangle-down{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #191919;
	float:right;
	margin:0 80px 0 0;
}
/* ------------------------------------------------------------------------------------
--  RESERVATIONS PAGE
------------------------------------------------------------------------------------ */
.forma-wrap{
	float:left;
	margin-top:40px;
}
/*----SELECT STYLES // GENERAL STYLES FOR FORM SEE AT THE TOP OF FILE-----------*/
.sbHolder{
	height: 14px;
	position: relative;
	float:left;
	width:318px;
	border:1px solid #ddd;
	background:#f6f6f6;
	margin-bottom:14px;
	padding:10px;
}
.sbHolder:hover{
	background:#ececec;
	border:1px solid rgba(255,255,255,0.4);
	color:#555;
}
.sbSelector{
	display: block;
	height: 20px;
	line-height: 20px;
	outline: none;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 318px;
}
.sbSelector:link, .sbSelector:visited{
	color:#b0b0b0;
	outline: none;
	text-decoration: none;
    font-size:0.75em;
	margin:8px 0 0 10px;
	text-shadow:none;
}
.sbSelector:hover{
	color:#3e3e3e;
}
.sbToggle{
	display: block;
	height: 20px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
}
.sbHolderDisabled{
	background-color: #eee;
}
.sbOptions{
	background-color: #f6f6f6;
	list-style: none;
	left: -1px;
	margin: -21px 0 0 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 340px;
	z-index: 1;
	overflow-y: auto;
}
.sbOptions a{
	display: block;
	outline: none;
	padding:10px;
	width:320px;
	color: #555;
	text-decoration: none;
	font-size:0.9em;
	border-bottom:1px solid #ddd;
}
.sbOptions a:hover{
	color: #040404;
}
.sbOptions li.last a{
	border-bottom: none;
}
/* ------------------------------------------------------------------------------------
--  CONTACT PAGE
------------------------------------------------------------------------------------ */
#map_canvas{
	width:720px;
	height:220px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	float:left;
}
ul.submarks{
	float:left;
	width:100%;
	list-style:none;
	margin-bottom:20px;
}
ul.submarks li{
	list-style:none;
	float:none;
	margin-bottom:10px;
}
ul.submarks li.last{
	margin-bottom:0;
}
ul.submarks li p.last{
	color:#3e3e3e;
	text-shadow:0 1px 1px #fff;
	overflow:hidden;
	font-size:0.9em;
}


