
	/*! Freebie Structure */
	#calendar
	{
		display: block;
		overflow: hidden;
		height: 170px;
		width: 190px;
		margin-left: -10px;
		list-style:none !important;
		
		background-repeat:no-repeat;
		background-position:right;
		background-size:contain;

	}

		/* Title */
		#calendar .c-title
		{
			position: relative;
			width: 100%;
			color: #666666;
			font-size: 13px;

		}
		#calendar .c-title .left-button
		{
			cursor: pointer;
			position: absolute;
			left: 0px;
			width: 32px;
			text-align: center; 
			color: #d95b01;
			text-shadow: inherit;
			border: 1px #f3f3f3 solid;
			padding: 3px 0 3px 0;
		}
		#calendar .c-title .title
		{
			margin: 0 auto;
			margin-left: 32px;
			margin-right: 32px;
			text-align: center;
			color: inherit;
			text-shadow: inherit;
			padding: 3px 0 3px 0;
			border: 1px #f3f3f3 solid;
		}
		#calendar .c-title .right-button
		{
			cursor: pointer;
			position: absolute;
			right: 0px;
			width: 32px;
			text-align: center;
			color: #d95b01;
			text-shadow: inherit;
			padding: 3px 0 3px 0;
			border: 1px #f3f3f3 solid;
		}

			/* Mouse Events */
			#calendar .left-button:hover, #calendar .right-button:hover
			{
				background: #e5e5e5; /* Old browsers */
				background: -moz-linear-gradient(top, #e5e5e5 1%, #d1d1d1 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e5e5e5), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #e5e5e5 1%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #e5e5e5 1%,#d1d1d1 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #e5e5e5 1%,#d1d1d1 100%); /* IE10+ */
				background: linear-gradient(to bottom, #e5e5e5 1%,#d1d1d1 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
			}
			#calendar .left-button:active, #calendar .right-button:active
			{
				background: #f4f4f4; /* Old browsers */
				background: -moz-linear-gradient(top, #f4f4f4 1%, #e8e8e8 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f4f4f4), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #f4f4f4 1%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #f4f4f4 1%,#e8e8e8 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #f4f4f4 1%,#e8e8e8 100%); /* IE10+ */
				background: linear-gradient(to bottom, #f4f4f4 1%,#e8e8e8 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */

				color: #fff;
			}

		/* Days Wrapper */
		#calendar .c-days
		{
			width: 100%;
		}
		#calendar .c-days thead th
		{
			padding: 6px 0 6px 0;
			width: 14.28%;
			text-align: center;
			font-size: 10px;
			font-weight: normal;
			color: #000;
			text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
		}
		#calendar .c-days tbody tr td
		{
			
			
		}
		#calendar .c-days tbody tr td:last-child
		{
			
		}
		#calendar .c-days tbody tr:last-child td
		{
			
		}
		#calendar .c-days tbody tr td > span
		{
			display: block;
			width: 100%;
			padding: 4px 0;
			text-align: center;
			text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
			color: #000;
			font-size: 11px;

			border: 1px #f3f3f3 solid;

			cursor: pointer;
		}
		#calendar .c-days tbody tr td.other-month > span
		{
			color: #fff;

			display:none;
			cursor: default;
		}

		#calendar .c-days tbody tr td.today > span
		{
			color: #fff;

			padding: 4px 0;
			text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	

			background: #cc4f00; /* Old browsers */
			background: -moz-linear-gradient(top, #cc4f00 0%, #d75d5d 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc4f00), color-stop(100%,#d75d5d)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #cc4f00 0%,#d75d5d 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #cc4f00 0%,#d75d5d 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #cc4f00 0%,#d75d5d 100%); /* IE10+ */
			background: linear-gradient(to bottom, #cc4f00 0%,#d75d5d 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc4f00', endColorstr='#d75d5d',GradientType=0 ); /* IE6-9 */

			/* Box Shadow */
			-moz-box-shadow: inset 0 3px 12px -3px rgba(0, 0, 0, .8);
			-webkit-box-shadow: inset 0 3px 12px -3px rgba(0, 0, 0, .8);
			box-shadow: inset 0 3px 12px -3px rgba(0, 0, 0, .8);

			cursor: default;
		}

			/* Mouse Events */			
			#calendar .c-days tbody tr td:not([class="today"]) > span:hover
			{
				background: #e5e5e5; /* Old browsers */
				background: -moz-linear-gradient(top, #e5e5e5 1%, #d1d1d1 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e5e5e5), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #e5e5e5 1%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #e5e5e5 1%,#d1d1d1 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #e5e5e5 1%,#d1d1d1 100%); /* IE10+ */
				background: linear-gradient(to bottom, #e5e5e5 1%,#d1d1d1 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
			}

			#calendar .c-days tbody tr td:not([class="today"]) > span:active
			{
				background: #f4f4f4; /* Old browsers */
				background: -moz-linear-gradient(top, #f4f4f4 1%, #e8e8e8 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f4f4f4), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #f4f4f4 1%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #f4f4f4 1%,#e8e8e8 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #f4f4f4 1%,#e8e8e8 100%); /* IE10+ */
				background: linear-gradient(to bottom, #f4f4f4 1%,#e8e8e8 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */

				/* Box Shadow */
				-moz-box-shadow: inset 0 3px 12px -3px rgba(0, 0, 0, .3);
				-webkit-box-shadow: inset 0 3px 12px -3px rgba(0, 0, 0, .3);
				box-shadow: inset 0 3px 12px -3px rgba(0, 0, 0, .3);
			}

			#calendar .c-days tbody tr td.other-month > span:hover
			{
				background: url(../images/diagonal_pattern.html), #c6c6c6; /* Old browsers */
				background: url(../images/diagonal_pattern.html), -moz-linear-gradient(top, #c6c6c6 0%, #b7b7b7 100%); /* FF3.6+ */
				background: url(../images/diagonal_pattern.html), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6c6c6), color-stop(100%,#b7b7b7)); /* Chrome,Safari4+ */
				background: url(../images/diagonal_pattern.html), -webkit-linear-gradient(top, #c6c6c6 0%,#b7b7b7 100%); /* Chrome10+,Safari5.1+ */
				background: url(../images/diagonal_pattern.html), -o-linear-gradient(top, #c6c6c6 0%,#b7b7b7 100%); /* Opera 11.10+ */
				background: url(../images/diagonal_pattern.html), -ms-linear-gradient(top, #c6c6c6 0%,#b7b7b7 100%); /* IE10+ */
				background: url(../images/diagonal_pattern.html), linear-gradient(to bottom, #c6c6c6 0%,#b7b7b7 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#b7b7b7',GradientType=0 ); /* IE6-9 */
			}

			#calendar .c-days tbody tr td > span.other-month:active
			{
				background: #f4f4f4; /* Old browsers */
				background: -moz-linear-gradient(top, #f4f4f4 1%, #e8e8e8 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f4f4f4), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #f4f4f4 1%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #f4f4f4 1%,#e8e8e8 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #f4f4f4 1%,#e8e8e8 100%); /* IE10+ */
				background: linear-gradient(to bottom, #f4f4f4 1%,#e8e8e8 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */

				/* Box Shadow */
				-moz-box-shadow: inset 0 3px 12px -3px rgba(0, 0, 0, .3);
				-webkit-box-shadow: inset 0 3px 12px -3px rgba(0, 0, 0, .3);
				box-shadow: inset 0 3px 12px -3px rgba(0, 0, 0, .3);
			}

			#calendar .c-days tbody tr td > span.other-month:hover
			{
				background: #e5e5e5; /* Old browsers */
				background: -moz-linear-gradient(top, #e5e5e5 1%, #d1d1d1 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e5e5e5), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #e5e5e5 1%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #e5e5e5 1%,#d1d1d1 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #e5e5e5 1%,#d1d1d1 100%); /* IE10+ */
				background: linear-gradient(to bottom, #e5e5e5 1%,#d1d1d1 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
			}
/**
 *  END FREEBIE STYLES
 */
