/*----------
tootip for calendar 
--------------------------*/
#calendar a.tooltip {
	outline:none;
	text-decoration:none;
	color: #fff !important; 
}
#calendar a.tooltip strong {
	line-height:30px;
}
#calendar a.tooltip > span     {
	width:90px;
	height: 80px;
	padding: 10px 20px;
	margin-left: 85px;
	opacity: 0;
	visibility: hidden;
	z-index: 10;	   
	position: absolute;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;  
}
#calendar a.tooltip:hover > span	{
	opacity: 1;
	text-decoration:none;
	visibility: visible;
	overflow: visible;
	margin-top:50px;
	display: inline;
	margin-left: -60px;	
}
#calendar a.tooltip > span {
	color: #fff !important; 
	width: 90px;
	height: 80px;
	margin-top: -85px !important;
	margin-left: -65px !important;
	background-image:url(../img/bg/tooltip.png);
	background-repeat:no-repeat;
	background-position:center top;
}
/*----------
tootip for forms 
--------------------------*/
#forms a.tooltip {
	outline:none;
	text-decoration:none;
	color: #fff !important; 
}
#forms a.tooltip strong {
	line-height:30px;
}
#forms a.tooltip > span     {
	width:218px;
	height: 90px;
	padding: 20px 40px 20px 70px;
	margin-left: 85px;
	opacity: 0;
	visibility: hidden;
	z-index: 10;	   
	position: absolute;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;  
}
#forms a.tooltip:hover > span	{
	opacity: 1;
	text-decoration:none;
	visibility: visible;
	overflow: visible;
	margin-top:50px;
	display: inline;
	margin-left: -40px;	
}
#forms a.tooltip > span {
	color: #fff !important; 
	width: 180px;
	height: 90px;
	margin-top: 5px !important;
	margin-left: -35px !important;
	background-image:url(../img/bg/formstooltip.png);
	background-repeat:no-repeat;
	background-position:center top;
}